#root {
  margin: 0 auto;
  padding: 1vw;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  text-align: left;
}

.input,
.output {
  width: 40vw;
  height: 80vh;
  overflow-y: scroll;
}

.output {
  border: 1px solid black;
}